.profile {
  min-width: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 3px #787878;
  overflow: hidden;
  margin-bottom: 100px;
}
.description {
  text-align: center;
  padding: 30px;
}
.avatar {
  width: 180px;
  border-radius: 50%;
  margin-bottom: 30px;
}
.name {
  font-size: 24px;
  color: #212121;
  margin-bottom: 20px;
  font-weight: bold;
}
.tag {
  font-size: 18px;
  color: gray;
  margin-bottom: 15px;
}
.location {
  font-size: 18px;
  color: gray;
  margin-bottom: 15px;
}
.stats {
  display: flex;
  border-top: 1px solid rgb(147, 147, 147);
}

.stats li {
  flex: 1;
  padding: 20px 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.814);
  border-right: 1px solid rgb(147, 147, 147);
}
.stats li:last-child {
  border-right: none;
}
.label {
  display: block;
  font-size: 20px;
  color: darkgray;
  margin-bottom: 10px;
}
.quantity {
  font-size: 18px;
  font-weight: bold;
  display: block;
}
