.friend-list {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-bottom: 50px;
}
.item {
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 0 0 3px gray;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 6px;
  padding: 15px;
}
.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  margin-right: 15px;
}
.avatar {
  border-radius: 8px;
  object-fit: cover;
  margin-right: 15px;
}
.name {
  font-size: 22px;
}
.online {
  background-color: green;
}
